* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(pizza-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
h2 {
  margin: 15px 0;
}
.pizza__order {
  width: 600px;
  margin: 0 auto;
  background-color: rgb(167, 246, 121);
  padding: 30px;
}
.customer__name {
  padding: 10px 20px;
  margin-bottom: 20px;
}

.form__label {
  display: block;
  padding: 5px;
}
.btn {
  padding: 15px 25px;
  border: none;
  color: #fff;
  background-color: coral;
  border-radius: 5px;
  margin-top: 25px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(228, 102, 56);
}
.delivery__method {
  padding: 5px 30px;
}
.toppings {
  padding: 5px 10px;
}
.toppings input {
  display: inline-block;
  width: 50px;
}
