* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  background-color: #eee;
  padding: 50px;
}
.decision {
  position: relative;
  background-image: linear-gradient(
      rgba(29, 32, 22, 0.5),
      rgba(30, 35, 21, 0.5)
    ),
    url(dicision-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 5px;
}
.content {
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-30%, -30%);
}
.content h1,
p {
  color: #fff;
  margin-bottom: 20px;
}
.content h1 {
  font-size: 48px;
}
.content p {
  font-size: 26px;
  margin-top: 20px;
}
input {
  padding: 20px 40px;
  border: none;
  font-size: 26px;
  display: inline-block;
  width: 400px;
  border-radius: 40px;
}

.btn {
  padding: 20px 25px;
  font-size: 26px;
  border: none;
  border-radius: 5px;
}
