* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  background-color: #97e8a9;
}
.main {
  max-width: 1260px;
  margin: 0 auto;
  padding: 100px 0;
}
.salary__form {
  display: grid;
  place-items: center;
}
.form {
  margin: 0 auto;
  border: 1px solid #eee;
  width: clamp(360px, 30%, 430px);
  padding: 20px;
}
.form__group {
  margin: 20px 0;
}
.form__input {
  display: block;
  margin: 5px;
  padding: 10px;
  width: 90%;
}
